In [2]:
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt
import tetrion.plots as plots
import tetrion.db
import tetrion.commands as cmd
import tetrion.options
import tetrion.clientcore
import seaborn as sns
from collections import defaultdict
import numpy as np
import warnings
import matplotlib.pyplot as plt
warnings.simplefilter("ignore")
%matplotlib inline 
symbol = pd.read_csv('/local/dist/tetrion/conf/conf/symbol.table', skiprows= 1, header = 2,  delim_whitespace=True)
pd.set_option('display.max_rows', 100)
import datetime as dt

In [52]:
bars = cmd.candlesticks(
    instrument="FUT_TAIFEX_TXF:202507",
    sdate="20250710",
    edate="20250715",
    period=60  # 60 秒一根
)

WARNING: MYSQL_OPT_RECONNECT is deprecated and will be removed in a future version.
lg5 candlesticks (clientcore/HistMStreamManager.cc:293): missing datafile SRC_TAIFEX.ORIG_CPBQ.DEST_CPBQ FUT_TAIFEX_TXF 20250715 file=/nfs/datafiles/2025/07/15/59709/datafile.944111726.gz
ERROR: problem in setup: missing datafile SRC_TAIFEX.ORIG_CPBQ.DEST_CPBQ FUT_TAIFEX_TXF 20250715 file=/nfs/datafiles/2025/07/15/59709/datafile.944111726.gz

In [54]:
bars

In [3]:
conn = tetrion.db.get_conn('timescale_research_rk')
stmt = "SELECT * FROM orcwing_1min "
df = pd.read_sql(stmt, con=conn)

In [4]:
df

,time,symid,exp,ref_vol,ref_fwd,ref_skw,vc,sc,ssr,vcr,...,cc,pc,dc,uc,dsm,usm,cc2,pc2,usf,dsf
0,2025-06-02 08:40:00,59963,202506,25.6791,21067.5,-0.925,25.6791,-0.925,1.0,0.9250,...,7.25,2.00,-0.0590,0.0390,8.0,7.0,0.0,0.0,0.1875,0.1625
1,2025-06-02 08:40:00,59963,202506w1,29.1500,21164.5,-2.750,29.1500,-2.750,1.0,4.7500,...,12.50,0.00,-0.0400,0.0200,8.0,7.0,0.0,0.0,0.2500,0.0000
2,2025-06-02 08:40:00,59963,202506w2,26.2600,21153.5,-1.250,26.2600,-1.250,1.0,1.2504,...,11.00,2.25,-0.0410,0.0315,8.0,7.0,0.0,0.0,0.1875,0.1625
3,2025-06-02 08:40:00,59963,202507,25.3910,20762.0,-0.600,25.3910,-0.600,1.0,0.6000,...,3.00,0.85,-0.0755,0.0530,8.0,7.0,0.0,0.0,0.1500,0.1325
4,2025-06-02 08:40:00,59963,202508,24.9514,20587.4,-0.500,24.9514,-0.500,1.0,0.5000,...,1.50,0.50,-0.0900,0.0600,8.0,7.0,0.0,0.0,0.1375,0.1275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
559565,2025-10-16 13:23:00,59969,202512,14.6200,2245.6,-0.570,14.6200,-0.570,1.0,0.5900,...,3.80,0.50,-0.2500,0.2500,10.0,10.0,0.0,0.0,0.0000,0.0000
559566,2025-10-16 13:23:00,59969,202601,0.0000,0.0,0.000,0.0000,0.000,1.0,0.0000,...,0.00,0.00,-0.1000,0.1000,50.0,10.0,0.0,0.0,0.0000,0.0000
559567,2025-10-16 13:23:00,59969,202603,0.0000,2245.6,0.000,0.0000,0.000,1.0,0.0000,...,0.00,0.00,-0.1000,0.1000,50.0,10.0,0.0,0.0,0.0000,0.0000
559568,2025-10-16 13:23:00,59969,202606,0.0000,2245.6,0.000,0.0000,0.000,1.0,0.0000,...,0.00,0.00,-0.1000,0.1000,10.0,10.0,0.0,0.0,0.0000,0.0000
559569,2025-10-16 13:23:00,59969,202609,0.0000,2245.6,0.000,0.0000,0.000,1.0,0.0000,...,0.00,0.00,-0.1000,0.1000,50.0,10.0,0.0,0.0,0.0000,0.0000

In [5]:
df = df[df['symid'] == 59963]

In [34]:
df

,time,symid,exp,ref_vol,ref_fwd,ref_skw,vc,sc,ssr,vcr,...,cc,pc,dc,uc,dsm,usm,cc2,pc2,usf,dsf
0,2025-06-02 08:40:00,59963,202506,25.6791,21067.5,-0.92500,25.6791,-0.92500,1.0,0.92500,...,7.2500,2.0000,-0.0590,0.0390,8.0,7.0,0.0,0.0,0.1875,0.1625
1,2025-06-02 08:40:00,59963,202506w1,29.1500,21164.5,-2.75000,29.1500,-2.75000,1.0,4.75000,...,12.5000,0.0000,-0.0400,0.0200,8.0,7.0,0.0,0.0,0.2500,0.0000
2,2025-06-02 08:40:00,59963,202506w2,26.2600,21153.5,-1.25000,26.2600,-1.25000,1.0,1.25040,...,11.0000,2.2500,-0.0410,0.0315,8.0,7.0,0.0,0.0,0.1875,0.1625
3,2025-06-02 08:40:00,59963,202507,25.3910,20762.0,-0.60000,25.3910,-0.60000,1.0,0.60000,...,3.0000,0.8500,-0.0755,0.0530,8.0,7.0,0.0,0.0,0.1500,0.1325
4,2025-06-02 08:40:00,59963,202508,24.9514,20587.4,-0.50000,24.9514,-0.50000,1.0,0.50000,...,1.5000,0.5000,-0.0900,0.0600,8.0,7.0,0.0,0.0,0.1375,0.1275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545025,2025-10-16 13:44:00,59963,202512,21.8370,27474.2,-0.54750,21.8370,-0.54750,1.0,0.50750,...,2.3750,0.5375,-0.1550,0.1050,8.0,7.0,0.0,0.0,0.1750,0.1250
545026,2025-10-16 13:44:00,59963,202601,21.6800,27475.0,-0.43250,21.6800,-0.43250,1.0,0.39250,...,1.7500,0.4250,-0.1550,0.1050,8.0,7.0,0.0,0.0,0.1750,0.1250
545027,2025-10-16 13:44:00,59963,202603,21.4800,27488.7,-0.33500,21.4800,-0.33500,1.0,0.29500,...,1.1750,0.3750,-0.1550,0.1050,8.0,7.0,0.0,0.0,0.1625,0.1250
545028,2025-10-16 13:44:00,59963,202606,21.2100,27489.7,-0.24375,21.2100,-0.24375,1.0,0.22375,...,0.6375,0.3250,-0.1600,0.1100,8.0,7.0,0.0,0.0,0.1500,0.1250
545029,2025-10-16 13:44:00,59963,202609,21.0000,27188.5,-0.19500,21.0000,-0.19500,1.0,0.18500,...,0.3125,0.2875,-0.1600,0.1100,8.0,7.0,0.0,0.0,0.1375,0.1250

In [44]:
import re

def classify_exp(exp_str: str) -> str | None:
    # weekly like 202506w1, 202506w2 ...
    m = re.match(r"(\d{6})w([1-5])$", exp_str)
    if m:
        week_idx = int(m.group(2))
        return f"w{week_idx}"
    # monthly like 202506, 202507 ...
    if re.match(r"^\d{6}$", exp_str):
        # TODO: here you should map to f1/f2/f3/f4/f5/spot
        # Example: just treat the nearest monthly as f1, next as f2, etc.
        # This part depends on your own definition.
        return None
    return None

df["exp_group"] = df["exp"].astype(str).map(classify_exp)

In [45]:
import pandas as pd

# 假設你的 df 長這樣，且已經有 exp_group 欄位
# columns: time, symid, exp, ref_vol, ..., exp_group

# 1. 建出日期欄位
df["date"] = df["time"].dt.date

# 2. 定義優先順序
priority_order = ["w1", "f1", "w2", "f2", "spot", "f3", "w4", "f4", "w5", "f5"]
priority_map = {k: i for i, k in enumerate(priority_order)}

# 3. 把 exp_group 映射成優先分數，沒在列表內的丟到很後面
df["priority"] = df["exp_group"].map(priority_map).fillna(999).astype(int)

# 4. 先壓到「date + exp」層級，找出每個 exp 在當天的最小優先值
daily_exp_priority = (
    df.groupby(["date", "exp"], as_index=False)["priority"]
      .min()
)

# 5. 對每一天挑出優先值最小的那個 exp
best_exp_per_day = (
    daily_exp_priority
    .sort_values(["date", "priority"])
    .drop_duplicates("date")  # 每個 date 留第一個
    .rename(columns={"exp": "chosen_exp"})
    [["date", "chosen_exp"]]
)

# 6. 把每日選出的 exp merge 回去，得到 df_spot
df_spot = (
    df.merge(
        best_exp_per_day,
        left_on=["date", "exp"],
        right_on=["date", "chosen_exp"],
        how="inner",
    )
    .drop(columns=["chosen_exp"])
)

# df_spot: 每一天只有一個 exp，但保留那一天所有時間點的資料

In [46]:
df_spot

,time,symid,exp,ref_vol,ref_fwd,ref_skw,vc,sc,ssr,vcr,...,uc,dsm,usm,cc2,pc2,usf,dsf,date,exp_group,priority
0,2025-06-02 08:40:00,59963,202506w1,29.15,21164.5,-2.75,29.15,-2.75,1.0,4.750,...,0.02,8.0,7.0,0.0,0.0,0.2500,0.000,2025-06-02,w1,0
1,2025-06-02 08:41:00,59963,202506w1,27.35,21164.5,-2.75,27.35,-2.75,1.0,4.750,...,0.02,8.0,7.0,0.0,0.0,0.2500,0.000,2025-06-02,w1,0
2,2025-06-02 08:42:00,59963,202506w1,27.00,21164.5,-2.75,27.00,-2.75,1.0,4.750,...,0.02,8.0,7.0,0.0,0.0,0.2500,0.000,2025-06-02,w1,0
3,2025-06-02 08:45:00,59963,202506w1,24.82,21164.5,-2.00,24.82,-2.00,1.0,4.000,...,0.02,8.0,7.0,0.0,0.0,0.2500,0.000,2025-06-02,w1,0
4,2025-06-02 08:46:00,59963,202506w1,24.96,21164.5,-1.90,24.96,-1.90,1.0,3.900,...,0.02,8.0,7.0,0.0,0.0,0.2500,0.165,2025-06-02,w1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55209,2025-10-16 13:40:00,59963,202510w4,22.01,27434.7,-1.00,22.01,-1.00,1.0,0.885,...,0.04,8.0,7.0,0.0,0.0,0.1875,0.000,2025-10-16,w4,6
55210,2025-10-16 13:41:00,59963,202510w4,22.11,27434.7,-1.00,22.11,-1.00,1.0,0.885,...,0.04,8.0,7.0,0.0,0.0,0.1875,0.000,2025-10-16,w4,6
55211,2025-10-16 13:42:00,59963,202510w4,22.33,27434.7,-0.98,22.33,-0.98,1.0,0.865,...,0.04,8.0,7.0,0.0,0.0,0.1875,0.000,2025-10-16,w4,6
55212,2025-10-16 13:43:00,59963,202510w4,22.50,27434.7,-0.99,22.50,-0.99,1.0,0.875,...,0.04,8.0,7.0,0.0,0.0,0.1875,0.000,2025-10-16,w4,6
55213,2025-10-16 13:44:00,59963,202510w4,22.50,27434.7,-0.99,22.50,-0.99,1.0,0.875,...,0.04,8.0,7.0,0.0,0.0,0.1875,0.000,2025-10-16,w4,6

chosen exp: 202506